/*auth css*/

.login-section {
    background-color: #032b42;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.auth-form {
    position: relative;
    z-index: 1;
    background: #256991;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.auth-form input {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 3px;
    border-color: #5aa8fc;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.auth-form button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.auth-form button:hover,
.auth-form button:active,
.auth-form button:focus {
    background: #43a047;
}